<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Signin Template for Bootstrap</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/bootstrap-paginator.min.js"></script>
<script>
    let currentPage = 1;
    let pageSize = 10;
    $(document).ready(function() {
        doSearch();
        $('#myCustom').modal("hide");

        $('.master-checkbox').on('click',function(){
            $("input[class='slave-checkbox']").prop("checked", this.checked);
        })

        $('.isDynamic').on('click',function(){
            if($('input[class="isDynamic"]').prop("checked"))
            {
                $(".Dynamic").html("" +
                    "<div class=\"form-group\">\n" +
                    "            <label for=\"dynamicTableName\">dynamicTableName</label>\n" +
                    "            <input type=\"text\" class=\"form-control\" id=\"dynamicTableName\" placeholder=\"Password\">\n" +
                    "            </div>\n" +
                    "            <div class=\"form-group\">\n" +
                    "            <label for=\"defaultParam\">defaultParam</label>\n" +
                    "            <input type=\"text\" class=\"form-control\" id=\"defaultParam\" placeholder=\"Password\">\n" +
                    "            </div>");
            }
            else
                $(".Dynamic").html("");
        })

        $(document).on("click",".preview",function () {
            var $this = $(this)
            var tableName = $this.attr("data-json")
            $.ajax({
                type:'GET',
                url: "/generate/preview/"+tableName,
                success: function(data) {
                    $("#domain").html("<pre class='pre-scrollable'>"+data.data["vm/java/domain.java.vm"]+"</pre>");
                    $("#dao").html("<pre class='pre-scrollable'>"+data.data["vm/java/dao.java.vm"]+"</pre>");
                    $("#service").html("<pre class='pre-scrollable'>"+data.data["vm/java/service.java.vm"]+"</pre>");
                    $("#serviceImpl").html("<pre class='pre-scrollable'>"+data.data["vm/java/serviceImpl.java.vm"]+"</pre>");
                    $("#controller").html("<pre class='pre-scrollable'>"+data.data["vm/java/controller.java.vm"]+"</pre>");
                },
                error:function(data){
                }
            });
        });

        $(document).on("click",".download",function () {
            var chk_value =[];
            $('input[class="slave-checkbox"]:checked').each(function(){
                chk_value.push($(this).val());
            });
            window.open('/generate/batchGenCode?tables='+encodeURIComponent(chk_value.toString()))
        });

        $(document).on("click",".Previous",function() {
            pageNum--;
            doSearch();
        });

        $(document).on("click",".Next",function() {
            pageNum++;
            doSearch();
        });

        $(".search").on("click",function() {
            doSearch();
        });

        $(document).on("click",".custom",function () {
            var $this = $(this)
            var tableName = $this.attr("data-json")
            $("#hideTableName").val(tableName)
        });

        $(document).on("click",".customDownload",function() {
            var url = 'tableName='+ encodeURIComponent($("#hideTableName").val())
                    +'&className='+ encodeURIComponent($("#className").val())
                    +'&genPath=' + encodeURIComponent($("#genPath").val())
                    +'&functionAuthor='+ encodeURIComponent($("#functionAuthor").val())
                    +'&functionName=' + encodeURIComponent($("#functionName").val())
                    +'&packageName='+ encodeURIComponent($("#packageName").val());
            if($('input[class="isDynamic"]').prop("checked"))
            {
                url+='&isDynamic=1&dynamicTableName=' + encodeURIComponent($("#dynamicTableName").val())
                   +'&defaultParam='+ encodeURIComponent($("#defaultParam").val());
            }
            window.open('/generate/download?'+url)
        });

        function setPage(pageCurrent, pageSum, callback) {
            $(".pagination").bootstrapPaginator({
                //设置版本号
                bootstrapMajorVersion: 3,
                // 显示第几页
                currentPage: pageCurrent,
                // 总页数
                totalPages: pageSum,
                //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
                onPageClicked: function (event,originalEvent,type,page) {
                    currentPage = page
                    callback && callback()
                }
            })
        }

        function doSearch() {
            $.ajax({
                type:'GET',
                url: "/generate/list",
                data: {
                    "tableName": $(".tableName").val(),
                    "pageNum": currentPage,
                    "pageSize": pageSize
                },
                success: function(data) {
                    $(".table tbody").empty()
                    $.each(data.data.dataList, function(index,value) {
                        $(".table tbody").append(
                            "<tr>" +
                            "<td><input type=\"checkbox\" class=\"slave-checkbox\" value=\""+value.tableName+"\"></td>" +
                            "<td>"+value.tableName+"</td>" +
                            "<td>"+value.tableComment+"</td>" +
                            "<td>"+value.createTime+"</td>" +
                            "<td>"+value.updateTime+"</td>" +
                            "<td>" +
                            "<button data-json=\""+value.tableName+"\" type=\"button\" class=\"btn btn-primary btn-xs preview\" data-toggle=\"modal\" data-target=\"#myModal\">\n" +
                            "preview code" +
                            "</button>    " +
                            "    <button data-json=\""+value.tableName+"\" type=\"button\" class=\"btn btn-primary btn-xs custom\" data-toggle=\"modal\" data-target=\"#myCustom\">\n" +
                            "custom" +
                            "</button>" +
                            "</td>" +
                            "</tr>");
                    })
                    setPage(data.data.pager.pageNumber, data.data.pager.pageCount, doSearch);
                },
                error:function(data){
                }
            });
        }
    });

</script>
<body>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">preview code</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#domain" aria-controls="domain" role="tab" data-toggle="tab">domain</a></li>
                    <li role="presentation"><a href="#dao" aria-controls="dao" role="tab" data-toggle="tab">dao</a></li>
                    <li role="presentation"><a href="#service" aria-controls="service" role="tab" data-toggle="tab">service</a></li>
                    <li role="presentation"><a href="#serviceImpl" aria-controls="serviceImpl" role="tab" data-toggle="tab">serviceImpl</a></li>
                    <li role="presentation"><a href="#controller" aria-controls="controller" role="tab" data-toggle="tab">controller</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="domain"></div>
                    <div role="tabpanel" class="tab-pane" id="dao"></div>
                    <div role="tabpanel" class="tab-pane" id="service"></div>
                    <div role="tabpanel" class="tab-pane" id="serviceImpl"></div>
                    <div role="tabpanel" class="tab-pane" id="controller"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myCustom" tabindex="-1" role="dialog" aria-labelledby="myCustomLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myCustomLabel">custom</h4>
            </div>
            <input type="hidden" id="hideTableName" value="">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="functionName">functionName</label>
                        <input type="text" class="form-control" id="functionName" placeholder="functionName">
                    </div>
                    <div class="form-group">
                        <label for="functionAuthor">functionAuthor</label>
                        <input type="text" class="form-control" id="functionAuthor" placeholder="functionAuthor">
                    </div>
                    <div class="form-group">
                        <label for="packageName">packageName</label>
                        <input type="text" class="form-control" id="packageName" placeholder="packageName">
                    </div>
                    <div class="form-group">
                        <label for="className">className</label>
                        <input type="text" class="form-control" id="className" placeholder="className">
                    </div>
                    <div class="form-group">
                        <label for="genPath">genPath</label>
                        <input type="text" class="form-control" id="genPath" placeholder="genPath">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="isDynamic"> isDynamic
                        </label>
                    </div>
                    <div class="Dynamic">
                    </div>
                    <button type="submit" class="btn btn-primary customDownload">download</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-default">
        <h3>  NUTZ 代碼生成器  </h3>
    </nav>
    <input style="width: 400px; float: left" type="text" class="form-control tableName" placeholder="tableName" aria-describedby="basic-addon1">
    <button type="button" class="btn btn-primary search"> search </button>
    <table class="table">
        <thead>
        <tr>
            <th><input type="checkbox" class="master-checkbox"></th>
            <th>tableName</th>
            <th>tableComment</th>
            <th>createTime</th>
            <th>updateTime</th>
            <th>operate</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">


        </ul>
    </nav>

    <button type="button" class="btn btn-primary download"> download </button>
</div>
</body>
</html>
