package ${packageName}.controller;

import java.util.List;

import org.hints.nutz.domain.ReturnVo;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import org.hints.nutz.domain.TablePageData;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.${ClassName}Service;

/**
 * ${functionName}Controller
 * 
 * @author ${author}
 * @date ${datetime}
 */
#set($Param="")
#set($urlValue="")
#set($ParamCnd="")
#if($table.comPkColumn.size() >= 2)
#foreach ($comPkColumn in $table.comPkColumn)
#set($Param=$Param+'@PathVariable("'+"${comPkColumn.javaField}"+'") '+"${comPkColumn.javaType} ${comPkColumn.javaField}"+", ")
#set($urlValue=$urlValue+"/{"+"${comPkColumn.javaField}"+"}")
#set($ParamCnd=$ParamCnd+"${comPkColumn.javaField}"+",")
#end
#set($Param=$Param.substring(0,$Param.lastIndexOf(',')))
#set($ParamCnd=$ParamCnd.substring(0,$ParamCnd.lastIndexOf(',')))
#else
#set($urlValue="/{"+"${pkColumn.javaField}"+"}")
#set($Param='@PathVariable("'+"${pkColumn.javaField}"+'") '+"${pkColumn.javaType} ${pkColumn.javaField}")
#set($ParamCnd="${pkColumn.javaField}")
#end
@RestController
@RequestMapping("/${moduleName}/${businessName}")
public class ${ClassName}Controller
{
    @Autowired
    private ${ClassName}Service ${className}Service;

    /**
     * 查询${functionName}列表
     */
    @GetMapping("/list")
    public ReturnVo list(${ClassName} ${className})
    {
        TablePageData<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        return ReturnVo.success(list);
    }

    /**
     * 获取${functionName}详细信息
     */
    @GetMapping(value = "${urlValue}")
    public ReturnVo getInfo(${Param})
    {
        return ReturnVo.success(${className}Service.select${ClassName}ById(${pkColumn.javaField}));
    }

    /**
     * 新增${functionName}
     */
    @PostMapping
    public ReturnVo add(@RequestBody ${ClassName} ${className})
    {
        return ReturnVo.toAjax(${className}Service.insert${ClassName}(${className}));
    }

    /**
     * 修改${functionName}
     */
    @PutMapping
    public ReturnVo edit(@RequestBody ${ClassName} ${className})
    {
        return ReturnVo.toAjax(${className}Service.update${ClassName}(${className}));
    }

    /**
     * 删除${functionName}
     */
	@DeleteMapping("/{${pkColumn.javaField}s}")
    public ReturnVo remove(@PathVariable ${pkColumn.javaType}[] ${pkColumn.javaField}s)
    {
        return ReturnVo.toAjax(${className}Service.delete${ClassName}ByIds(${pkColumn.javaField}s));
    }
}
