package ${packageName}.entity;

#foreach ($import in $importList)
import ${import};
#end
import lombok.Data;
import org.nutz.dao.entity.annotation.Column;
import org.nutz.dao.entity.annotation.Name;
import org.nutz.dao.entity.annotation.PK;
import org.nutz.dao.entity.annotation.Table;
import com.gree.common.entity.BaseEntity;


/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#set($Entity="BaseEntity")
#set($Pk="")
@Data
#if($table.dynamic)
#set($MapTableName=${table.dynamicTableName})
#else
#set($MapTableName=${tableName})
#end
#if($table.comPkColumn.size() >= 2)
#set($Pk="@PK({")
#foreach ($column in $table.comPkColumn)
#set($Pk=$Pk+'"'+$column.columnName+'",')
#end
#set($Pk=$Pk.substring(0,$Pk.lastIndexOf(',')))
#set($Pk=$Pk+"})")
#end
@Table("${MapTableName}")
${Pk}
public class ${ClassName} extends ${Entity}
{
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.columnComment)
    /** $column.columnComment */
#end
#if($column.list)
#if($column.javaType == 'LocalDateTime')
    @JsonFormat(pattern = "yyyy-MM-dd")
#end
#end
#if($column.pk)
#if($pkColumn.isPk == "2")
    @Column
#else
    @Name
#end
#else
    @Column
#end
    private $column.javaType $column.javaField;

#end
    public void ${className}NoPage()
    {
        super.setBaseEntityNull();
    }
}
