package ${packageName}.service;

import java.util.List;
import com.gree.nutz.entity.TablePageData;
import ${packageName}.entity.${ClassName};

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
#set($Param="")
#if($table.comPkColumn.size() >= 2)
#foreach ($comPkColumn in $table.comPkColumn)
#set($Param=$Param+"${comPkColumn.javaType} ${comPkColumn.javaField}"+", ")
#end
#set($Param=$Param.substring(0,$Param.lastIndexOf(',')))
#else
#set($Param="${pkColumn.javaType} ${pkColumn.javaField}")
#end
public interface ${ClassName}Service
{
    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return ${functionName}
     */
    ${ClassName} select${ClassName}ById(${Param});

    /**
     * 查询${functionName}列表
     * 
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    TablePageData<${ClassName}> select${ClassName}List(${ClassName} ${className});

    /**
     * 新增${functionName}
     * 
     * @param ${className} ${functionName}
     * @return 结果
     */
    int insert${ClassName}(${ClassName} ${className});

    /**
     * 修改${functionName}
     * 
     * @param ${className} ${functionName}
     * @return 结果
     */
    int update${ClassName}(${ClassName} ${className});

    /**
     * 批量删除${functionName}
     * 
     * @param ${pkColumn.javaField}s 需要删除的${functionName}ID
     * @return 结果
     */
    int delete${ClassName}ByIds(${pkColumn.javaType}[] ${pkColumn.javaField}s);

    /**
     * 删除${functionName}信息
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果
     */
    int delete${ClassName}ById(${Param});
}
